@import "@angular/material/theming";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@include mat-core();

$palette: (
  50: #e4f2f6,
  100: #bcdfe7,
  200: #90c9d8,
  300: #64b3c8,
  400: #42a3bc,
  500: #2193b0,
  600: #1d8ba9,
  700: #1880a0,
  800: #147697,
  900: #0b6487,
  A100: #b7e8ff,
  A200: #84d8ff,
  A400: #51c8ff,
  A700: #37c0ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$main-color: mat-color($palette, 500);

$candy-app-primary: mat-palette($palette);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);
$candy-app-warn: mat-palette($mat-red);
$candy-app-theme: mat-light-theme(
  $candy-app-primary,
  $candy-app-accent,
  $candy-app-warn
);
@include angular-material-theme($candy-app-theme);

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("/assets/large-bg.jpg");
  background-image: linear-gradient(white, white), url("/assets/large-bg.jpg");
  background-size: cover;
  background-blend-mode: saturation;
}

a,
.link {
  color: #2193b0;
}

mat-checkbox + mat-checkbox,
mat-radio-button + mat-radio-button {
  margin-left: 1.5em;
}

.content-width {
  width: 450px;
}

.centered {
  text-align: center;
}

h2 {
  font-weight: bold;
  font-size: 125%;
}

div.big-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 508px;
  overflow: hidden;
  margin: 2em 0;
  background-color: #3f81b3;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  h2 {
    position: relative;
    font-family: "Roboto", Arial, sans-serif;
    font-size: calc(10px + 8vw);
    font-weight: 700;
    color: #f5f5f5;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    perspective: 500px;
  }

  h2::before,
  h2::after {
    content: attr(aria-label);
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    text-shadow: 0.01em 0.01em 0.01em rgba(0, 0, 0, 0.3);
  }

  h2::before {
    animation: floatAbove 3.5s ease-in-out infinite;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
  }

  h2::after {
    opacity: 0.65;
    filter: blur(0.02em);
    transform: translate(-50%, -50%) rotateX(21deg);
    animation: floatBelow 3.5s ease-in-out infinite;
    -webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
  }

  @keyframes floatAbove {
    50% {
      transform: translate(-50%, -60%);
      -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 60%);
      clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 60%);
    }
  }

  @keyframes floatBelow {
    50% {
      transform: translate(-50%, -60%) rotateX(10deg);
      -webkit-clip-path: polygon(0% 60%, 100% 60%, 100% 100%, 0% 100%);
      clip-path: polygon(0% 60%, 100% 60%, 100% 100%, 0% 100%);
    }
  }
}
